<div style="padding:5px; min-width:30px; min-height:30px;" class="cmd #history# container-fluid tooltips cmd-widget" data-type="info" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<center>
	  <span class="cmdName #hide_name#">#name_display# </span>
	  <div class="cmdInfo#uid#">#state# #unite#</div>
	</center>
  <style>
	div.cmdInfo#uid# {
		overflow-y:scroll;
		border:#000000 1px solid;
		width: 100%;
		min-height:15px;
		max-height:150px;
		font-size:12px;
		font-weight: bold;
		word-wrap: break-word;
		text-align: left
	}
  </style>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			$('.cmdInfo#uid#').html(_options.display_value);
			$('.cmd[data-cmd_id=#id#]').attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate);
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>
</div>
