<div class="cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="display: block;">
	<div class="content-xs">
		<span class="cmdName #hide_name#">#name_display#</span> <strong class="state"></strong>
	</div>
	<script>
    jeedom.cmd.addUpdateFunction('#id#', function(_options) {
        if (is_numeric(_options.display_value)) {
			var duree = _options.display_value;
			var j = Math.floor(duree/86400); duree %= 86400;
			var h = Math.floor(duree/3600); duree %= 3600;
			var m = Math.floor(duree/60);
			var s = duree%60;
			var txt = '';
			if (j) txt += j + 'j ';
			if (h) txt += h + 'h ';
			if (m) txt += m + 'min ';
			if (s) txt += s + 's ';
			var cmd = $('.cmd[data-cmd_id=#id#]')
			cmd.attr('title','Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
			cmd.find('.state').empty().append(txt+' ('+_options.display_value+' s)');
			if(_options.alertLevel){
				if(_options.alertLevel == 'warning'){
					cmd.find('.content-xs').addClass('label label-warning')
					cmd.attr('data-alertlevel','warning');
				}else if(_options.alertLevel == 'danger'){
					cmd.find('.content-xs').addClass('label label-danger')
					cmd.attr('data-alertlevel','danger');
				}else{
					cmd.find('.content-xs').removeClass('label label-warning label-danger')
					cmd.attr('data-alertlevel','none');
				}
			}
		}
	})
    jeedom.cmd.refreshValue([{ cmd_id: '#id#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])
	</script>
</div>