<div class="tooltips cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="display: block;">
	<center><span style="font-size : 12px !important;#hideCmdName#" class="cmdName">#name_display#</span> <strong class="state" style="font-size: 12px;"></strong></center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			var duree = _options.display_value;
			var j = Math.floor(duree/86400); duree %= 86400;
			var h = Math.floor(duree/3600); duree %= 3600;
			var m = Math.floor(duree/60);
			var s = duree%60;
			var txt = '';
			if (j) txt += j + 'j ';
			if (h) txt += h + 'h ';
			if (m) txt += m + 'min ';
			if (s) txt += s + 's ';
			$('.cmd[data-cmd_id=#id#]').attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate)
			$('.cmd[data-cmd_id=#id#] .state').empty().append(txt +' (' + _options.display_value +'#unite#)');
			if(_options.alertLevel){
				$('.cmd[data-cmd_id=#id#]').removeClass('label label-warning label-danger')
				if(_options.alertLevel == 'warning'){
					$('.cmd[data-cmd_id=#id#]').addClass('label label-warning');
				}else if(_options.alertLevel == 'danger'){
					$('.cmd[data-cmd_id=#id#]').addClass('label label-danger');
				}
			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>
</div>
